{% extends "../partials/base.html" %}
{% block content %}
    {% load bootstrap4 %}

    {% for post in posts %}
        <div class="mb-4 col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ post.name }}
                    </h5>
                    <p class="card-text">{{ post.text }}</p>
                    <a href="/post/{{ post.id }}" class="btn btn-primary">View post</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}