{% extends "../partials/base.html" %}
{% block content %}
    {% load bootstrap4 %}

    <h1>Search sport page</h1>
<form method="post">
    {% csrf_token %}
    {% if request.method == 'POST' %}
        {% if error %}
            <h4>Oops :(</h4><br/>
        {% else %}
            <ul class="list-group">
            {% for var in ans %}
                <li class="list-group-item">
                    <label><a href="../profile/{{ var.user.id }}">{{ var.user }} </a></label>
                    <label>{{ var.level }} </label>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Search sport</button>
    {% endif %}

    </form>

{% endblock %}