{% extends "../partials/base.html" %}
{% block content %}
{% load bootstrap4 %}

<div class = "row">
    <h3> Your friend requests: </h3>
    <p>
    <ul>
        {% for friend in friend_request %}
            <li class="list-group-item">
                {{ friend.out_user }}
                <a href="../profile/requests/{{ friend.id }}/allow" class="btn btn-outline-success"> Allow </a>
                <a href="{{ id }}/decline" class="btn btn-outline-danger"> Reject </a>
            </li>

        {% endfor%}
    </ul>
    </p>
</div>

{% endblock %}