{% extends "../partials/base.html" %}
{% block content %}
    <div style="background:transparent !important" class="jumbotron">
      <h2 class="display-5">Hello and welcome to Athletic2gether, our friend!</h2>
      <p class="lead"> By the developers' team</p>
      <hr class="my-4">
        <p>You will be able to participate in workouts with people sharing the same interests in sports as you do, on this website! Find users with approximately equal levels in diverse activities, add them to your friends, contact them via email, and start training!</p>
        <p>How does this website work?</p>
        <p>Here is how!</p>
        <ol>
            <li>Create your personal profile</li>
            <li>Add activities from a moderate number of different exercises. Indicate your current level in each one of them to allow us find proper friends for you.</li>
            <li> Share the story of your success with others by creating posts! </li>
        </ol>
        <p>Looking forward to many nice workouts for you! </p>
    </div>
{% endblock %}