{% extends "../partials/base.html" %}
{% block content %}
{% load bootstrap4 %}
<div class="row">
    <div class="col-4">
        <h1 class="col-4">{{ username }}</h1>
        <p>
        <h5 class="col-8"> My goals:</h5>
        <ul class="list-group">
            {% for goal in goals %}
            <li class="list-group-item">
                <label>{{ goal.goal }} </label>
                <label>{{ goal.level }} </label>
            </li>
            {% endfor %}
        </ul>
        <a class="btn btn-outline-success ml-3 mt-2" href="{% url 'web:add_goal' %}" role="button">Add Goal</a>
        <a class="btn btn-outline-danger ml-3 mt-2" href="{% url 'web:delete_goal' %}" role="button">Delete Goal</a>
        </p>
    </div>
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    {% load static %}
                    <img alt="avatar" height="225" src="{% static avatar %}" width="225">
                    <a class="btn btn-outline-success mt-3" href="{% url 'web:change_password' %}" role="button">Change Password</a>
                    <a class="btn btn-outline-success mt-3" href="{% url 'web:show_requests' %}" role="button">Friend requests</a>
                </div>
                <div class="col-8">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>Change avatar<input type="file" name="img" class="form-control-file"></p>
                        <p>
                            <button type="submit" class="btn btn-success">Upload</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="row">
</div>

{% endblock %}
